// Hobby and sport Modal
#hobbySportModal.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='hobbySportModal', aria-hidden='true')
    .modal-dialog.modal-xs
        .modal-content(style={'background-image': 'linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4))'})
            .modal-body.text-center
                .container
                    .row.justify-content-center
                        .col-lg-6
                            h3 Hobby
                            p Constants in my life
                            ul.fa-ul(style={'margin-right': '40px'})
                                li
                                    i.fa-li.fa.fa-gamepad
                                    | Video games
                                li
                                    i.fa-li.fa.fa-film
                                    | Movies &amp; Series
                                li
                                    i.fa-li.fa.fa-camera
                                    | Photography
                                li
                                    i.fa-li.fa.fa-coins
                                    | Numismatics
                        .col-lg-6
                            h3 Sport
                            p Practised or practising
                            ul.fa-ul(style={'margin-right': '40px'})
                                li
                                    i.fa-li.fa.fa-person-swimming
                                    | Swimming
                                li
                                    i.fa-li.fa.fa-person-skating
                                    | Skating
                                li
                                    i.fa-li.fa.fa-hand-fist
                                    | Aikido
                                li
                                    i.fa-li.fa.fa-golf-ball-tee
                                    | Golf
                        .col-lg-12
                            img.img-fluid.rounded(src='assets/img/f1.png', alt='F1')
