// Portfolio Modal 1
#portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal1', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 neTrooper
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-cube
                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/portfolio/netrooper.png', alt='neTrooper')
                            // Portfolio Modal - Text
                            p.mb-4
                                a(href='http://netrooper.com', target='_blank') neTrooper.com
                                | (
                                a(href='http://ntr.sh', target='_blank') nTr.sh
                                | ) and
                                a(href='http://andreariosa.com', target='_blank') AndreaRiosa.com
                                br
                                | Since
                                strong 2006
                                | and
                                strong 2016
                            button.btn.btn-primary(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Close Window
