// Portfolio Modal 2
#portfolioModal2.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal2', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Hitbox
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-cube
                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/portfolio/hitbox.png', alt='Hitbox')
                            // Portfolio Modal - Text
                            p.mb-4
                                a(href='http://hitbox.it', target='_blank') Hitbox.it
                                | (
                                a(href='http://hbx.gg', target='_blank') HBX.gg
                                | )
                                br
                                | Gaming community that organizes tournaments and events in Italy.
                            p.mb-4
                                | Since
                                strong 2012
                                | in
                                strong Italian &amp; English
                            button.btn.btn-primary(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Close Window
