// Portfolio Modal 6
#portfolioModal6.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal5', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 TasteTweak
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-cube
                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.img-extra.rounded.mb-5(src='assets/img/portfolio/tastetweak.png', alt='TasteTweak')
                            // Portfolio Modal - Text
                            p.mb-4
                                a(href='http://tastetweak.com', target='_blank') TasteTweak.com
                                br
                                | Since
                                strong 2023
                            button.btn.btn-primary(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Close Window
